<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Diri Mahasiswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="profile-header ion-text-center">
    <ion-avatar class="profile-avatar">
      <img src="assets/Fatan.jpg" alt="Foto Profil" />
    </ion-avatar>
    <h1>Data Mahasiswa</h1>
    <p>Identitas Mahasiswa</p>
  </div>

  <ion-card class="profile-card">
    <ion-card-header>
      <ion-card-title>Data Diri Mahasiswa</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label><strong>Nama:</strong> Destian Ardan Alfatanu</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>NIM:</strong> H1D022045</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Jurusan:</strong> Informatika</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Prodi:</strong> Informatika</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
